/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--inter-accent-normal, 400);
  background-image: var(--fixed-bg);
  background-size: cover;
  background-attachment: fixed;
}

/* header part */

.header {
  inline-size: var(--elatic-width);
  padding-block: calc(var(--header-padding) + 2px); /* calculation due to the borders */
  justify-self: center;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 2px #000;
  background-color: var(--white);
  cursor: default;
}

.header-container {
  font-family: var(--accent-font);
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: center
}

.header-title {
  font-size: var(--title-size);
  text-transform: uppercase;
  font-weight: 400;
}

.header-subtitle {
  font-size: var(--subtitle-size);
  text-transform: uppercase;
  font-weight: 400;
}

/* main part */ 

.main {
  inline-size: var(--elatic-width);
  justify-self: center;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.card {
  border: 2px solid var(--black);
}

.title-container {
  border-bottom: 2px solid var(--black);
  background-color: var(--white);
  padding: 5px 10px 5px;
}

.card-title {
  font-variation-settings: "wght" var(--inter-accent-bold, 700);
  font-size: 18px;
  cursor: default;
}

.img-container {
  position: relative;
  border-bottom: 2px solid var(--black);
  width: 100%;
  height: auto;
}

.content-img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  display: block;
}

.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 
    0 1px var(--white),
    1px 0 var(--white),
    -1px 0 var(--white),
    0 1px var(--white),
    0 -1px var(--white);
  z-index: 1;
  cursor: default;
  mix-blend-mode: hard-light;
}

@supports(-webkit-text-stroke: 1px var(--white)) {
  .watermark {
    -webkit-text-stroke: 1px var(--white);
    text-shadow: none;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  background-color: var(--white);
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  cursor: default;
  font-size: 18px;
}

.card__button-container {
  align-self: end;
  display: flex;
  gap: 4px;
}

.button {
  position: relative; /* to add pseudo element for hover */
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: 0;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.save-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  inline-size: 339px;
  block-size: 55px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  position: relative;
  z-index: 1;
  color: var(--white);
  mix-blend-mode: difference; /*used for hover effect */
  display: block;
  align-self: center;
  justify-self: center;
}

.button-floppy {
  width: 21px;
  height: 21px;
  z-index: 1;
  filter: invert(100%);
  mix-blend-mode: difference;
}

/* filters */

.saturate {
  filter: saturate(2.2);
}

.blur {
  filter: blur(3px);
}

.bright {
  filter: brightness(30%);
}

.contrast {
  filter: contrast(250%);
}

.grayscale {
  filter: grayscale(80%);
}

.hue {
  filter: hue-rotate(0.5turn);
}

.opacity-sepia {
  filter: opacity(40%) sepia(0.6);
}

/* dialog part */

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog:open {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  row-gap: 30px;
  column-gap: 20px;
  padding: 29px 30px;
  border: 2px solid var(--black);
  max-inline-size: 357px;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog-text {
  grid-column: 2 / auto;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.close-button__container {
  grid-row: 2 / auto;
  grid-column: 1 / -1;
}

.close-button {
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: 0;
  width: 100%;
  height: 38px;
  text-transform: uppercase;
}

.popup-floppy {
  width: 39px;
  height: 39px;
  align-self: center;
}

/* focus and hover effects on buttons */ 

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--black);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: var(--black);
  transition: transform  0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

/* heart svg */

.card__icon-button {
  padding: 0;
  block-size: 38px;
  text-align: center;
  border: 2px solid transparent;
  background-color: var(--white);
}

.like-icon {
  margin: auto;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--black);
}

.core,
.sparks,
.main-body {
  fill: transparent;
}

.contour {
  fill: #000;
}

/* heart animations */
/* hover */

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:not(:hover) .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:not(:hover) .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

/* active */

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

/* clicked */

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparkles 0.3s ease-in 0.3s 1;
}

.like-icon.is-liked {
  animation: scaling 0.3s ease-in 0.1s 1;
}


/* mobile verion */

@media (width <= 375px) {
  .watermark {
    right: 13px;
  }

  .save-button {
    inline-size: 310px;
    block-size: 84px;
    flex-direction: column;
    margin-inline: 34.5px;
  }

  .button-floppy {
    width: 28px;
    height: 28px;
  }

  dialog:open {
    max-inline-size: 341px;
  }
}